body {
    background-color: rgb(15, 15, 15);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 63px;
    background: #0E0E108C;
    background: transparent;
    padding: 0px 180px 0px 180px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: rgba(15, 15, 15, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.nav a {
    font-size: 15px;
    color: #F2F0EB;
    text-decoration: none;
    font-family: "Fraunces", serif;
}

.nav em {
    color: #8FA98C;
}

.nav span {
    font-size: 11px;
    color: #C9C2B4;
    font-family: "IBM Plex Mono", monospace;
}

.indicator {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.indicator div {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #8FA98C;
    font-size: 12px;
    font-family: "IBM Plex Mono", monospace;

}

.indicator span {
    width: 40px;
    height: 0.1px;
    background: #8FA98C;
    ;

}

.web-para {
    color: #8FA98C;
    font-size: 13px;
    font-family: "IBM Plex Mono", monospace;
}

.main-hero-heading {
    color: #F2F0EB;
    font-size: clamp(40px, 8vw, 105px);
    font-family: "Fraunces", serif;
    font-weight: 500;


}

.main-hero-heading em {
    color: #8FA98C;
    font-family: "Fraunces", serif;
    font-weight: 300;
}

.long-para {
    font-size: 17px;
    font-family: "Inter", sans-serif;
    line-height: 1.4;
    color: #C9C2B4;
    max-width: 500px;
    margin-top: 20px;
}

.main-hero {
    display: flex;
    height: 100vh;
    align-items: center;

}

.hero-section {
    padding-left: clamp(10px, 15vw, 180px);
}

.scroll {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.scroll span {
    font-size: 12px;
    color: #C9C2B4;
    font-family: "IBM Plex Mono", monospace;
}

.scroll-line {
    width: 1px;
    height: 30px;
    background: #555;
    overflow: hidden;
    position: relative;
}

.scroll-line::after {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;

    animation: scrollLine 2s linear infinite;
}

hr {
    margin-top: -50px;
    border: none;
    height: 0.2px;
    background-color: #444343;
}

.reveal-text span {
    color: #F2F0EB;
    font-size: 36px;
    font-family: "Fraunces", serif;
    font-weight: 300;
    font-size: clamp(20px, 4vw, 30px);


}

.reveal-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reveal-text {
    max-width: 750px;

    line-height: 1.5;
    word-spacing: 4px;
}

.reveal-text em span {
    color: #8FA98C;
}

.reveal-section {
    padding-left: clamp(10px, 15vw, 180px);
}

.skill-section {
    display: flex;
    gap: 10px;
    margin-top: 40px;
}

.skill-section span {
    color: #C9C2B4;
    font-family: "IBM Plex Mono", monospace;
    padding: 5px 12px;
    font-size: 12px;
    border-radius: 20px;
    border: 0.2px solid rgb(37, 36, 36);

}
.reveal-text span {
    opacity: 0;
}
.reveal-text span.show {
    opacity: 1;
}
.tursted{
    font-size: 12px;
    color: #8FA98C;
    font-family: "IBM Plex Mono", monospace;
}
.bussines-head{
    color: #C9C2B4;
   font-size: clamp(28px, 3vw, 38px);
   font-weight: 400;
    font-family: "Fraunces", serif;
    padding-top: 15px;
}
.new-hero-section{
    padding-left: clamp(10px, 15vw, 180px);
    padding-top: 50px;
}

.slider {
  overflow: hidden;
  width: 100%;
font-size: clamp(20px, 3vw, 38px);
   color: #C9C2B4;

}

.slide-track {
  display: flex;
  gap: 150px;
  width: max-content;
  animation: scroll 30s linear infinite;
  margin-top: 60px;
}

.slide em {
  display: inline-block;
  font-style: italic;
  cursor: pointer;
  transition: color 0.3s ease; /* Color change smooth karne ke liye */
}

/* Hover par specific text ka color change hoga */
.slide:hover em {
  color: #8FA98C;
}

/* Kisi bhi slide par hover karne se poora slider ruk jayega */
.slide-track:has(.slide:hover) {
  animation-play-state: paused;
}
.slider-hr{
    margin-top: 50px;
     border: none;
    height: 0.2px;
    background-color: #444343;
    
}
.idex-p{
    color: #8FA98C;
    font-size: 12px;
}
.catalog{
    color: #C9C2B4;
   font-size: clamp(32px, 5vw, 64px);
    font-family: "Fraunces", serif;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 17px;

}
.catalog em{
    color: #8FA98C;
}
.catalog-p{
    color: #C9C2B4;
    font-family: 'Inter',sans-serif;
    max-width: 580px;
    font-size: 15px;
    line-height: 1.4;
}
.image-content-section{
     padding-left: clamp(10px, 15vw, 180px);
     margin-top: 50px;
}
.projects-section {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 55px;
    width: 100%;
    margin-top: 50px;
}


/* LEFT IMAGE */

.projects-image {
    width: 500px;
    height: 375px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 10px;
}

.project-img {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    opacity: 0;
    transition: opacity 0.4s ease;
}

.project-img.active {
    opacity: 1;
}


/* RIGHT CONTENT */

.projects-list {
    width: 500px;
}


/* EACH PROJECT */

.project-item {
    border-top: 1px solid #292929;
    padding: 18px 0 20px;
    cursor: pointer;
}

.project-item:last-child {
    border-bottom: 1px solid #292929;
}


/* NUMBER + HEADING + ARROW */

.project-top {
    display: flex;
    align-items: center;
}


/* NUMBER */

.project-number {
    width: 42px;
    flex-shrink: 0;

    font-family: "IBM Plex Mono", monospace;
    font-size: 11px;
    color: #777;

    transition: color 0.3s ease;
}


/* HEADING */

.project-top em {
    font-family: "Fraunces", serif;
    font-style: normal;
    font-size: 24px;
    color: #C9C2B4;

    transition: color 0.3s ease;
}


/* ARROW */

.project-arrow {
    margin-left: 12px;

    font-size: 22px;
    color: #C9C2B4;

    transition:
        color 0.3s ease,
        transform 0.35s ease;
}


/* DESCRIPTION */

.project-item p {
    margin: 5px 0 0 42px;

    font-family: "IBM Plex Mono", monospace;
    font-size: 10px;
    color: #C9C2B4;
}


/* HOVER */

.project-item:hover .project-number,
.project-item:hover .project-top em,
.project-item:hover .project-arrow {
    color: #8FA98C;
}


/* ARROW SLIGHTLY FORWARD */

.project-item:hover .project-arrow {
    transform: translateX(6px);
}
.project-top {
    display: flex;
    align-items: center;
    width: 100%;
}

.project-number {
    width: 42px;
    flex-shrink: 0;
}

.project-top em {
    font-family: "Fraunces", serif;
    font-style: normal;
    font-size: 24px;
    color: #C9C2B4;
    transition: color 0.3s ease;
}

.project-arrow {
    margin-left: auto;
    font-size: 22px;
    color: #C9C2B4;

    transition:
        color 0.3s ease,
        transform 0.35s ease;
}

.project-item:hover .project-number,
.project-item:hover .project-top em,
.project-item:hover .project-arrow {
    color: #8FA98C;
}

.project-item:hover .project-arrow {
    transform: translateX(6px);
}
@keyframes scroll {
  0% { 
    transform: translateX(0); 
  }
  100% { 
    transform: translateX(calc(-50% - 40px)); 
  }
}
@keyframes scrollLine {
    0% {
        top: -100%;
    }

    100% {
        top: 100%;
    }
}

@media(max-width:1115px) {
    .nav {
        padding: 0px 100px 0px 180px;
    }
    .slide-track{
            gap: 100px;
        }
}

@media(max-width:860px) {
    .nav span {
        display: none;
        .slide-track{
            gap: 100px;
        }
    }

    .indicator {
        display: none;
    }

    .nav {
        padding: 0px 40px 0px 40px;
    }

    .hero-section {
        padding: 0px 40px 0px 40px;
    }

    .reveal-section {
        padding: 0px 40px 0px 40px;
    }
    .new-hero-section{
         padding: 50px 40px 0px 40px;
    }
    .image-content-section{
        padding-left: 40px;
    }
}
@media (max-width: 768px){
    .slide-track{
            gap: 70px;
        }
}
@media(max-width:465px) {
   .skill-section {
        display: flex;
        flex-wrap: wrap;
    }

    .skill-section span {
        padding: 5px 12px;
    }

    .nav {
        padding: 0px 30px 0px 30px;
    }

    .hero-section {
        padding: 0px 30px 0px 30px;
    }

    .reveal-section {
        padding: 0px 30px 0px 30px;
    }
    .slide-track{
            gap: 50px;
        }
}
@media (max-width: 900px) {

    .projects-section {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .projects-image {
        width: 100%;
        max-width: 500px;
        height: auto;
        aspect-ratio: 500 / 375;
    }

    .projects-list {
        width: 100%;
        max-width: 500px;
    }

}


@media (max-width: 600px) {

    .projects-section {
        gap: 25px;
    }

    .projects-image {
        width: 100%;
    }

    .projects-list {
        width: 100%;
    }

    .project-item {
        padding: 15px 0 17px;
    }

    .project-top em {
        font-size: 22px;
    }

    .project-arrow {
        font-size: 20px;
    }

    .project-item p {
        font-size: 9px;
        margin-top: 5px;
    }

}


@media (max-width: 400px) {

    .project-number {
        width: 32px;
        font-size: 10px;
    }

    .project-top em {
        font-size: 20px;
    }

    .project-arrow {
        font-size: 18px;
    }

    .project-item p {
        margin-left: 32px;
        font-size: 8px;
    }

}